{% load static %}
{% load humanize %}





<div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {% for product in similar_product %}

    <div class="col mb-4">
      <!-- Card -->
      <div class="card card-bordered shadow-none text-center h-100">
        <div class="card-pinned">
          <img class="card-img-top" src="{{product.image.url}}" alt="Image Description">

          <div class="card-pinned-top-start">
            <span class="badge bg-success rounded-pill">جدید</span>
          </div>

          <div class="card-pinned-top-end">
            <button type="button" class="btn btn-outline-secondary btn-xs btn-icon rounded-circle"
              data-bs-toggle="tooltip" data-bs-placement="top" title="افزودن به علایق">
              <i class="bi-heart"></i>
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="mb-2">
            {% for cat in product.category.all %}
            <a class="link-sm link-secondary" href="#">{{ cat.title }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </div>


          <h4 class="card-title">
            <a class="text-dark" href="{% url 'shop:product-overview' slug=product.slug %}"> {{ product.title }}</a>
          </h4>
          {% if product.discount_percent > 0 %}
          <p class="text-muted"><del>{{ product.price|intcomma }} تومان </del></p>
          <p class="text-danger">{{ product.discounted_price|intcomma }} تومان</p>
          {% else %}
          <p>{{ product.price|intcomma }} تومان</p>
          {% endif %}

        </div>

        <div class="card-footer pt-0">
          <!-- Rating -->
          <a class="d-inline-flex align-items-center mb-3" href="#">
            <div class="d-flex gap-1 ms-2">
              <img src="{% static '/svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
              <img src="{% static '/svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
              <img src="{% static '/svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
              <img src="{% static '/svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
              <img src="{% static '/svg/illustrations/star-muted.svg' %}" alt="Review rating" width="16">
            </div>
            <span class="small">0</span>
          </a>
          <!-- End Rating -->

          <button type="button" class="btn btn-outline-primary btn-sm btn-transition rounded-pill">افزودن به سبد
            خرید</button>
        </div>
      </div>
      <!-- End Card -->
    </div>
    
    {% empty %}
    <div class="row text-center w-100 py-5 mt-4">
      <div class="col">
        <div class="alert alert-info" role="alert">
          <p>محصولی در حال حاضر در دسترس نیست</p>
        </div>
      </div>
    </div>
    

    {% endfor %}
  <!-- End Col -->


  <!-- End Col -->
</div>
<!-- End Row -->

<div class="text-center">
  <a class="btn btn-outline-primary btn-transition rounded-pill" href="#">مشاهده تمامی محصولات</a>
</div>
</div>