{% extends "base.html" %}
{% load static %}
{% load cart_extras %}

{% block content %}
<div class="container content-space-1 content-space-lg-2">
    <div class="row">
        <div class="col-lg-8 mb-7 mb-lg-0">
            <!-- Heading -->
            <div class="d-flex justify-content-between align-items-end border-bottom pb-3 mb-7">
                <h1 class="h3 mb-0">سبد خرید</h1>
                <span>{{ cart_items|length }} مورد</span>
            </div>
            <!-- End Heading -->

            <!-- Form -->
            <form>
                <!-- List Group -->
                <ul class="list-group list-group-flush list-group-no-gutters mb-5">
              
                    <!-- Item -->
                    <span>{{ cart_items|length }} مورد</span>

                    {% for item in cart_items %}
                        <li class="list-group-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img class="avatar avatar-xl avatar-4x3" src="{{ item.product.image.url }}" alt="Image Description">
                                </div>
                    
                                <div class="flex-grow-1 ms-3">
                                    <div class="row">
                                        <div class="col-sm-7 mb-3 mb-sm-0">
                                            <h5><a class="text-dark" href="#">{{ item.product.title }}</a></h5>
                                            <h5 class="mb-1">{{ item.product.price }} تومان</h5>
                                        </div>
                    
                                        <div class="col-sm-3">
                                            <select class="form-select form-select-sm mb-3">
                                                {% for i in 1|range:10 %}
                                                    <option value="{{ i }}" {% if item.quantity == i %}selected{% endif %}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                    
                                        <div class="col-4 col-sm-2 text-right">
                                            <span class="h5 d-block mb-1">{{ item.product.price }} تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    
                    <!-- End Item -->
             
                </ul>
                <!-- End List Group -->

                <div class="d-sm-flex justify-content-end">
                    <a class="link" href="{% url 'shop:product-grid' %}">
                        به خرید ادامه دهید <i class="bi-chevron-left small ms-1"></i>
                    </a>
                </div>
            </form>
            <!-- End Form -->
        </div>
        <!-- End Col -->

        <div class="col-lg-4">
            <div class="ps-lg-4">
                <!-- Card -->
                <div class="card card-sm shadow-sm mb-4">
                    <div class="card-body">
                        <div class="border-bottom pb-4 mb-4">
                            <h3 class="card-header-title">خلاصه هزینه</h3>
                        </div>
                        <form>

                            <div class="d-grid gap-3 mb-4">
                                <dl class="row">
                                    <dt class="col-sm-6">مالیات</dt>
                                    <dd class="col-sm-12 text-sm-end mb-0">به همراه 9% در هنگام پرداخت</dd>
                                </dl>
                                <!-- End Row -->

                                <dl class="row">
                                    <dt class="col-sm-6">جمع</dt>
                                    <dd class="col-sm-12 text-sm-end mb-0">{{ cart_items|total_price }} تومان</dd>
                                </dl>
                                <!-- End Row -->
                            </div>

                            <div class="d-grid">
                                <a class="btn btn-primary btn-lg" href="#">ثبت سفارش</a>
                            </div>
                        </form>
                    </div>
                    <!-- End Card -->
                </div>
            </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Content -->

{% endblock content %}
